$color-primary: #b7e4c7;   // verde cielo
$color-secondary: #bee7e8; // azul nube
$color-bg: #f7faf9;        // fondo suave
$color-text: #355f5b;

$font-main: 'Arial', sans-serif;
$radius: 14px;

$primary-color: #b7e4c7;

// 🌤️ Atmósfera
$sky-top: #e8fff7;
$sky-bottom: #c6f3e6;

$cloud-white: rgba(255, 255, 255, 0.6);
$cloud-soft: rgba(255, 255, 255, 0.35);

$glow-soft: 0 0 40px rgba(255, 255, 255, 0.6);
$shadow-air: 0 20px 40px rgba(0, 0, 0, 0.08);
